input[type="checkbox"] {
    margin-left: 15px !important;
    width: 20px;
    height: 30px;
}

.select2-container {
	display:block !important;	
}

.panel-group .panel-title > a:before{
    opacity: 0 !important;
}

.container-inline-date .date-padding {
    padding: 10px;
    float: none !important; 
}

.container-inline-date .form-item .form-item {
    float: none !important; 
}

.form-item-cpd-year-start-date label{
	display:none !important;
}

input#edit-cpd-year-start-datepicker-popup-0 {
    width: 100%;
    margin-left: -10px;
}

.form-type-radio.form-item-name-6.form-item.radio {
    display: inline;
}
div#block-iisp-profiler-top-menu-for ul li{
	display:inline;
}

/*.panel-group .panel-title > a:before{
    opacity: 0 !important;
}*/

.checkbox-wrapper{
    float: right;
}

.checkbox-style{
    width: 20px;
    height: 20px;
    margin: 0px 6px;
    padding: 8px 12px;
    border-radius: 135px;
    background-color: #ccc;
    z-index: 10000 !important;
}

.left-panel-profile{
    margin-top: 40px;
}

.profile-left-button{
    width:100px;
}

.date-padding label{
    display: none;
}

.profile-compare .panel-group .panel-body .row {
    margin-bottom: 20px;
    /*border-bottom: 1px dashed #CCC;*/
    padding-bottom: 10px;
}

.profile-compare .row h4 {
    text-transform: none;
    font-size: 14px;
    font-variant: normal;
    font-weight: 100;
    color: #656464;
}

.total_skills {
    width: 11px !important;
    height: 25px;
    color: white;
    /* margin: -7px 3px; */
    padding: 8px 21px 21px 10px;
    border-radius: 135px;
    background-color: #00ff00;
    /* z-index: 10000 !important; */
    /* margin-left: 47%; */
}

.profile-compare .row {
     margin-left: 0px; 
     margin-right: 0px; 

    }

.panel-title .compare-score span {
    background: #00ff00;
    width: 31px;
    height: 30px;
    float: left;
    margin: 0px 6px;
    padding: 7px 10px;
    border-radius: 135px;
    z-index: 10000 !important;
}